
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
      <picture>
                   <!-- media queries -->
                   <source media="(max-width: 1024px)" srcset="../../assets/blurbook.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/book.JPEG" height="600px" width="100%"/>
                </picture>
  </div>
  <div class="carousel-item">
      <picture>
                   <!-- media queries -->
                   <source media="(max-width: 1024px)" srcset="../../assets/blurwoman.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/woman.JPEG" height="600px" width="100%" />
     </picture>
  </div>
  <div class="carousel-item">
      <picture>
                    


                       
                   <source media="(max-width: 1024px)" srcset="../../assets/blurman.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/man.JPEG" height="600px" width="100%" />
      </picture>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

